.cursor-main {
  --size: 0px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border: 1.5px solid var(--textColor);
  background-color: transparent;
  pointer-events: none;
  z-index: 99;
  transition: top 0.3s ease-out, left 0.3s ease-out, width 0.3s ease-out,
    height 0.3s ease-out;
}
.cursor-disable {
  --size: 0px;
}
@media only screen and (min-width: 600px) {
  .cursor-main {
    --size: 26px;
  }
  .cursor-disable {
    --size: 0px;
  }
}

.cursor-particles {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 98;
}

.cursor-particle {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
  background-color: var(--textColor);
  pointer-events: none;
  will-change: transform, opacity;
}
